@import 'reset.css';
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,300');

/*Mobile device*/

@pagesize:480px;
@basecolor: #663333;
@lightcolor:lighten(@basecolor, 25%);
@darkcolor:darken(@basecolor,20%);
@fontsize:16px;
.basefont{
  font:16px/1.5 'Open Sans' ,sans-serif;
  color: @basecolor;
}



body{
  .basefont;
  width: @pagesize;
  margin: 0 auto;
  font-size:12px;
}
header{
  height:64px;

  h1{

    font-size: @fontsize*1.5;
    float:left;
    width: @pagesize/3.2;

  }
  nav{
    ul{

      li{
        width:55px;
        float:left;
        a{
          text-decoration: none;
          text-align: center;
          padding: 27px 0;
          display: block;
          font-size: 10px;
          background-color: @darkcolor;
          color: @lightcolor;
        }
      }
    }
  }
}

div{
  section.first{
    img{
      width:100%;
      margin: 0 0 16px 0;
    }
    h2{
      font-size: 16px;
      height:24px;
      padding: 4px 0;
    }
    p{
      margin: 6px 0;

    }
  }
    section.second{
      h2{
        font-size: 16px;
        height:24px;
        padding: 4px 0;
      }
      div.subsection{
          height: 320px;
        h3{
          font-weight: bold;
          float:right;
          height:20px;
          width:@pagesize;
          text-align: right;
        }
        p{

          &.text{
            float:right;
            width:@pagesize/1.6;
            padding: 0 0 16px 20px;

          }
         &.image{
           float:right;
           width:@pagesize/3;
           height: 270px;

         }
          img{
            width:@pagesize/3;
          }
           }
        }
      }
        }

footer{

  nav{
    height: 64px;
    ul{
      li{
        float:left;
        width: @pagesize/2;
        a{
          text-decoration: none;
          text-align: center;
          display: block;
          font-size: 10px;
          padding:27px 0;
          background-color: @darkcolor;
          color: @lightcolor;

        }
      }
    }
  }
}


/* need to change pixel values to multiples of @pagesize before I can easily add the changes for tablets and desktops...*/