@import 'reset.css';

@page: 960px;
@basecolor: #9966FF;
@lightcolor: lighten(@basecolor, 25%);
@darkcolor: darken(@basecolor, 30%);
@fontsize: 16px;

.gradient(@light,@dark){
  background-image: -webkit-gradient(linear,@light,@dark);
  background-image: -webkit-linear-gradient(@light,@dark);
  background-image: -moz-linear-gradient(@light,@dark);
  background-image: -ms-linear-gradient(@light,@dark);
  background-image: -o-linear-gradient(@light,@dark);
  background-image: linear-gradient(@light,@dark);
}

body{
  color: @darkcolor;
  background-color: @lightcolor;
  width: @page;
  margin: 0 auto;
}

header{
  .gradient(#660066,#9966FF);
  h1{
  color: @lightcolor;
    font-size: @fontsize*2;
}
  nav{
    .gradient(@lightcolor,@darkcolor);
    ul{
      height: 24px;
      li{
        width: @page/6;
        float: left;
        a{
          color: @darkcolor;
          text-decoration: none;
          padding: 4px 0;
          display: block;
          text-align: center;
        }
      }
    }
  }
}