@import 'reset.css';
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,300');
/*Mobile device*/
.basefont {
  font: 16px/1.5 'Open Sans', sans-serif;
  color: #663333;
}
body {
  font: 16px/1.5 'Open Sans', sans-serif;
  color: #663333;
  width: 480px;
  margin: 0 auto;
  font-size: 12px;
}
header {
  height: 64px;
}
header h1 {
  font-size: 24px;
  float: left;
  width: 150px;
}
header nav ul li {
  width: 55px;
  float: left;
}
header nav ul li a {
  text-decoration: none;
  text-align: center;
  padding: 27px 0;
  display: block;
  font-size: 10px;
  background-color: #221111;
  color: #b36666;
}
div section.first img {
  width: 100%;
  margin: 0 0 16px 0;
}
div section.first h2 {
  font-size: 16px;
  height: 24px;
  padding: 4px 0;
}
div section.first p {
  margin: 6px 0;
}
div section.second h2 {
  font-size: 16px;
  height: 24px;
  padding: 4px 0;
}
div section.second div.subsection {
  height: 320px;
}
div section.second div.subsection h3 {
  font-weight: bold;
  float: right;
  height: 20px;
  width: 480px;
  text-align: right;
}
div section.second div.subsection p.text {
  float: right;
  width: 300px;
  padding: 0 0 16px 20px;
}
div section.second div.subsection p.image {
  float: right;
  width: 160px;
  height: 270px;
}
div section.second div.subsection p img {
  width: 160px;
}
footer nav {
  height: 64px;
}
footer nav ul li {
  float: left;
  width: 240px;
}
footer nav ul li a {
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 10px;
  padding: 27px 0;
  background-color: #221111;
  color: #b36666;
}
/* need to change pixel values to multiples of @pagesize before I can easily add the changes for tablets and desktops...*/
