@import 'reset.css';
body {
  color: #4400cc;
  background-color: #eee5ff;
  width: 960px;
  margin: 0 auto;
}
header {
  background-image: -webkit-gradient(linear, #660066, #9966ff);
  background-image: -webkit-linear-gradient(#660066, #9966ff);
  background-image: -moz-linear-gradient(#660066, #9966ff);
  background-image: -ms-linear-gradient(#660066, #9966ff);
  background-image: -o-linear-gradient(#660066, #9966ff);
  background-image: linear-gradient(#660066, #9966ff);
}
header h1 {
  color: #eee5ff;
  font-size: 32px;
}
header nav {
  background-image: -webkit-gradient(linear, #eee5ff, #4400cc);
  background-image: -webkit-linear-gradient(#eee5ff, #4400cc);
  background-image: -moz-linear-gradient(#eee5ff, #4400cc);
  background-image: -ms-linear-gradient(#eee5ff, #4400cc);
  background-image: -o-linear-gradient(#eee5ff, #4400cc);
  background-image: linear-gradient(#eee5ff, #4400cc);
}
header nav ul {
  height: 24px;
}
header nav ul li {
  width: 160px;
  float: left;
}
header nav ul li a {
  color: #4400cc;
  text-decoration: none;
  padding: 4px 0;
  display: block;
  text-align: center;
}
