/**
*Reset or normalise used to standardise browser display
**/

/* Redefine existing HTML styles */
body{
    font: smaller/160% sans-serif;
    color: #999999;
    width: 960px;
    margin: 0 auto;
}

div img{width: 100%;}

nav ul{
    list-style: none;
    padding: 0;
    height: 24px;
    text-align: center;
    margin: 24px 0;
}
header li,footer li{
    width: 140px;
    float: left;
    margin: 0 10px;
}
header a,footer a{
    background-color: #6600FF;
    display: block;
    padding: 5px 0;
    color:  #999999;
    text-decoration: none;
}
header a:hover,footer a:hover{
    background-color: #999999;
    color:#6600FF;
}

footer li{
    width: 460px;
}

footer p{
    padding: 10px;
}

/* Class based styles */

/* ID based styles */

/* Style changes for larger displays or devices */